@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
button {
  border: none;
  font: inherit;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icon-font/icons.ttf?6e66b3d083650f183f04a8fce5c6e71a") format("truetype"), url("fonts/icon-font/icons.woff?6e66b3d083650f183f04a8fce5c6e71a") format("woff"), url("fonts/icon-font/icons.woff2?6e66b3d083650f183f04a8fce5c6e71a") format("woff2");
}
[class^=icon-],
[class*=" icon-"],
.icon-font {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrov:before {
  content: "\f101";
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #141b1c;
  font-size: 2rem;
  color: #ffffff;
}

.price-cards {
  max-width: 1170px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}
.price-cards__list {
  display: flex;
}

.price-card {
  position: relative;
  width: 380px;
  background: #334247;
  overflow: hidden;
}
.price-card + .price-card {
  margin-left: 15px;
}
.price-card.basic .price-card__price, .price-card.basic .price-card__button {
  background: #5bb189;
}
.price-card.basic .icon-arrov {
  color: #5bb189;
}
.price-card.business .price-card__price, .price-card.business .price-card__button {
  background: #3a6ba5;
}
.price-card.business .icon-arrov {
  color: #3a6ba5;
}
.price-card.webshop .price-card__price, .price-card.webshop .price-card__button {
  background: #ec632a;
}
.price-card.webshop .icon-arrov {
  color: #ec632a;
}
.price-card .action {
  position: absolute;
  top: 30px;
  right: -30px;
  display: block;
  width: 155px;
  background: #dc3f45;
  transform: rotate(45deg);
  line-height: 25px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.price-card__title {
  padding: 35px 20px 33px;
  text-align: center;
  font-size: 3.5rem;
  line-height: 43px;
}
.price-card__title span {
  display: block;
  font-weight: 300;
  line-height: 26px;
  font-size: 2rem;
}
.price-card__price {
  padding: 20px;
  font-size: 5.5rem;
  text-align: center;
  font-weight: bold;
  line-height: 65px;
}
.price-card__descroptions {
  padding: 40px 25px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
}
.price-card__options-list {
  font-size: 1.4rem;
  font-weight: 300;
}
.price-card__options-item {
  padding: 12px 20px;
  line-height: 26px;
}
.price-card__options-item:nth-last-of-type(2n) {
  background: #2a3438;
}
.price-card__options-item .icon-arrov {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 20px;
  font-size: 1.3rem;
}
.price-card__button {
  display: block;
  margin: 40px auto;
  padding: 0 20px;
  border-radius: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

/*# sourceMappingURL=index.css.map */
