@import '../utils/fonts.scss';
@import '../utils/varibles.scss';

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $color-black2;
  font-size: 2rem;
  color: $color-text-white1;
  line-height: 24px;
}
