@import '../utils/varibles.scss';

.price-cards {
  max-width: 1170px;
  margin: 50vh auto 0;
  transform: translateY(-50%);

  &__list {
    display: flex;
  }
}

.price-card {
  position: relative;
  width: 380px;
  background: $color-black1;
  overflow: hidden;

  & + & {
    margin-left: 15px;
  }

  &.basic .price-card__price,
  &.basic .price-card__button {
    background: $color-green1;
  }

  &.basic .icon-arrov {
    color: $color-green1;
  }

  &.business .price-card__price,
  &.business .price-card__button {
    background: $color-blue1;
  }

  &.business .icon-arrov {
    color: $color-blue1;
  }

  &.webshop .price-card__price,
  &.webshop .price-card__button {
    background: $color-orange1;
  }

  &.webshop .icon-arrov {
    color: $color-orange1;
  }

  .action {
    position: absolute;
    top: 30px;
    right: -30px;
    display: block;
    width: 155px;
    background: $color-red1;
    transform: rotate(45deg);
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  &__title {
    padding: 35px 20px 33px;
    text-align: center;
    font-size: 3.5rem;
    line-height: 43px;

    span {
      display: block;
      font-weight: $font-weight-main;
      line-height: 26px;
      font-size: 2.2rem;
    }
  }

  &__price {
    padding: 20px;
    font-size: 5.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 65px;
  }

  &__descroptions {
    padding: 40px 25px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: $font-weight-main;
  }

  &__options-list {
    font-size: 1.4rem;
    font-weight: $font-weight-main;
  }

  &__options-item {
    padding: 12px 20px;
    line-height: 26px;

    &:nth-last-of-type(2n) {
      background: $color-black3;
    }

    .icon-arrov {
      display: inline-block;
      width: 15px;
      height: 13px;
      margin-right: 20px;
      font-size: 1.3rem;
    }
  }

  &__button {
    display: block;
    margin: 40px auto;
    padding: 0 20px;
    border-radius: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-white1;
    font-weight: $font-weight-main;
  }
}
