*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
button {
  border: none;
  font: inherit;
}
