$icons-fontvar: 'icons';

@font-face {
  font-family: $icons-fontvar;
  src:
    url('fonts/icon-font/icons.ttf?6e66b3d083650f183f04a8fce5c6e71a') format('truetype'),
    url('fonts/icon-font/icons.woff?6e66b3d083650f183f04a8fce5c6e71a') format('woff'),
    url('fonts/icon-font/icons.woff2?6e66b3d083650f183f04a8fce5c6e71a') format('woff2');
}

[class^='icon-'],
[class*=' icon-'],
.icon-font {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
  'arrov': '\f101',
);

.icon-arrov:before {
  content: map-get($icons-map, 'arrov');
}
