@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

div,
h1,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

button {
  border: none;
  overflow: hidden;
  cursor: pointer;
}

@import 'varibles.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: $color-black2;
  font-size: 1.25rem;
  color: $color-text-white1;
  line-height: 24px;
}

@import 'price-card.scss';
