.price-cards {
  max-width: 1170px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

.price-card {
  position: relative;
  width: 380px;
  background: $color-black1;
  overflow: hidden;

  &__title {
    padding: 33px 20px;
    text-align: center;
    font-size: 2.1875rem;
    line-height: 43px;

    span {
      display: block;
      font-weight: $font-weight-main;
      line-height: 24px;
      font-size: 1.25rem;
    }
  }

  &__price {
    padding: 20px;
    font-size: 3.4375rem;
    text-align: center;
    font-weight: bold;
    line-height: 65px;
  }

  &__description {
    padding: 40px 26px;
    font-size: $font-size-primery;
    text-align: center;
    font-weight: $font-weight-main;
    line-height: 18.29px;
  }

  &__options-list {
    font-size: $font-size-primery;
    font-weight: $font-weight-main;
  }

  &__options-item {
    padding: 12px 22px;
    line-height: 26px;

    &:nth-last-of-type(2n) {
      background: $color-black3;
    }
  }

  &__img {
    width: 15px;
    height: 13px;
    margin-right: 22px;
  }

  &__order-btn {
    width: 155px;
    display: block;
    margin: 40px auto;
    padding: 0 25px;
    border-radius: 40px;
    line-height: 40px;
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-white1;
    font-weight: 400;
  }
}

.color{
  &_green {
    background: $color-green1;
  }

  &_blue {
    background: $color-blue1;
  }

  &_orange {
    background: $color-orange1;
  }
}

.action {
  position: absolute;
  top: 30px;
  right: -30px;
  display: block;
  width: 155px;
  background: $color-red1;
  transform: rotate(45deg);
  line-height: 25px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}
