$font-weight-main: 300;
$font-size-primery: 1.5rem;

$color-black1: #334247;
$color-black2: #141b1c;
$color-black3: #2a3438;
$color-red1: #dc3f45;
$color-green1: #5bb189;
$color-blue1: #3a6ba5;
$color-orange1: #ec632a;

$color-text-white1: #ffffff;
